{% extends 'base.html' %}

{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
    
{% endblock %}

{% block titulo %}Cadastre-se{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="logo_sidebar">
                    
                    <h2 class="logo">
                        <img class="img_logo_sidebar" src="{% static 'autenticacao/img/logo_meio_ambiente.png' %}" alt="Logo">
                    </h2>

                </div>

                
            </div>

            <div class="col-md-9">
                <div class="area_cadastrar">
                    {% if messages %}
                        <br>
                        {% for message in messages %}
                            <div class="alert {{message.tags}}">
                                 {{message}}
                            </div>
                            {% endfor %}
                    {% endif %}
                    <h2 class="titulo">Seja bem vindo</h2>
                    <p class="sub-titulo">Crie sua conta</p>
                    <hr>
                    
                    <form action="{% url "autenticacao:cadastro" %}" method="POST">{% csrf_token %}

                        <!-- Linha com dois campos: nome completo e tipo -->
                        <div class="row">
                            <div class="col-md-5">
                                <label class="bold">Nome completo</label>
                                <input class="form-control input-form" name="nome_completo" type="text" required>
                            </div>
                            <div class="col-md-4">
                                <label class="bold">Nome de Usuário</label>
                                <input class="form-control input-form" id="usuario" name="usuario" type="text" required>
                            </div>
                            <div class="col-md-3">
                                <label class="bold">Tipo de usuário</label>
                                <select class="form-control input-form" id="tipo_usuario" name="tipo" required>
                                    <option value="">Selecione...</option>
                                    {% for valor, descricao in tipo_usuarios %}
                                        <option value="{{ valor }}">{{ descricao }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <br>

                        <!-- Linha com três campos: CEP, tipo_logradouro, número -->
                        <div class="row">
                            <div class="col-md-4">
                                <label class="bold">CEP</label>
                                <input class="form-control input-form" name="cep" type="text" required>
                            </div>
                            <div class="col-md-3">
                                <label class="bold">Tipo de logradouro</label>
                                <input class="form-control input-form" name="tipo_logradouro" type="text" required>
                            </div>
                            <div class="col-md-4">
                                <label class="bold">Bairro </label>
                                <input class="form-control input-form" name="bairro" type="text" required>
                            </div>
                            <div class="col-md-1">
                                <label class="bold">Número</label>
                                <input class="form-control input-form" name="numero" type="text" required>
                            </div>
                        </div>
                        <br>

                        <!-- Linha com dois campos: logradouro e cidade -->
                        <div class="row">
                            <div class="col-md-8">
                                <label class="bold">Logradouro</label>
                                <input class="form-control input-form" name="logradouro" type="text" required>
                            </div>
                            <div class="col-md-4">
                                <label class="bold">Cidade</label>
                                <input class="form-control input-form" id="cidade" name="cidade" required>
                            </div>
                        </div>
                        <br>

                        <!-- Linha com UF e CPF/CNPJ -->
                        <div class="row">
                            <div class="col-md-4">
                                <label class="bold">UF</label>
                                <input class="form-control input-form" name="uf" type="text" maxlength="2" required>
                            </div>
                            <div class="col-md-8">
                                <label class="bold">CPF ou CNPJ</label>
                                <input class="form-control input-form" name="cpf_cnpj" type="text" required>
                            </div>
                        </div>
                        <br>

                        <!-- Linha com dois campos opcionais: Contato e Telefone -->
                        <div class="row">
                            <div class="col-md-6">
                                <label class="bold">Contato</label>
                                <input class="form-control input-form" name="contato" type="text">
                            </div>
                            <div class="col-md-6">
                                <label class="bold">Telefone</label>
                                <input class="form-control input-form" name="telefone" type="text" required>
                            </div>
                        </div>
                        <br>

                        <!-- Linha com dois campos: Email e senha -->
                        <div class="row">
                            <div class="col-md-6">
                                <label class="bold">E-mail</label>
                                <input class="form-control input-form" id="email" name="email" type="email" required>
                            </div>
                            <div class="col-md-3">
                                <label class="bold">Senha</label>
                                <input class="form-control input-form" name="senha" type="password" required>
                            </div>
                            <div class="col-md-3">
                                <label class="bold">Confirmar senha</label>
                                <input class="form-control input-form" name="confirmar_senha" type="password" required>
                            </div>
                        </div>
                        <br>

                        <div class="row align-items-center">
                            <div class="col-md-auto">
                                <button type="submit" class="btn btn-success">Registrar</button>
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Já possui uma conta?</span>
                                <a href="{% url 'autenticacao:logar' %}" class="btn btn-outline-success">Logar</a>
                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>

    <script type="application/json" id="dominios-data">
        {{ dominios|safe|json_script:"dominios-data" }}
    </script>
    <script src="{% static 'autenticacao/js/buscar_cep.js' %}"></script>
    <script src="{% static 'autenticacao/js/auto_email.js' %}"></script>
{% endblock %}